@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600;700&display=swap');
@import './variables.css';
@import './utilities.css';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after,
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--pure);
    background: var(--primary);
    overflow: overlay;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
    transform-style: preserve-3d;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb {
    background: white;
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: none;
}

.section {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 70vh;
    background-size: cover;
}

.pg2button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    background: #ffffff;
    margin: 10px;
    border: none;
    border-radius: 7px;
    box-shadow: -5px -5px 15px #dafcfe, 5px 5px 15px #c2fbfe;
    color: #001315;
    font-size: 16px;
}

.pg2button:hover {
    box-shadow: inset 5px 5px 10px #cafbfe, inset -5px -5px 10px #cafbfe;
    font-size: 16px;
    transition: 10000ms;
}

.pg2button:focus {
    outline: none;
}

.mainbox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 56vh;
    width: 100%;
    background: transparent;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 55vh 55vh 55vh;
}

.centerbox {
    position: relative;
    height: 100%;
    width: 70%;
    margin: 100px;
    background: transparent;
    border-radius: 25px;
    backdrop-filter: blur(50px);
}

.pg2box {
    position: absolute;
    height: 70vh;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
    background: transparent;
    align-items: center;
}

.divleft_sub {
    padding: 50px;
    margin-top: 17.5%;
    margin-left: 25%;
}

.pg2head {
    color: black;
    text-align: left;
    transform: translate(0, -50%);
    font-family: 'Fira Code', monospace;
    max-width: 75%;
}

.pg2sub {
    transform: translate(0, -25%);
    color: grey;
    font-family: 'Fira Code', monospace;
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 100;
    max-width: 50%;
}

.divleft {
    width: 50%;
    height: 100%;
    float: left;
}

.divright {
    width: 50%;
    height: 100%;
    float: right;
}

.divright_img {
    margin-right: 15%;
    width: 70%;
    margin-top: 12.5%;
}

.logo {
    max-width: 100px;
    position: relative;
}

.header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    transform-style: inherit;
    z-index: -1;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-size: cover;
    transform: translateZ(-1px) scale(2.1);
    min-height: 100%;
    z-index: -2;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0px 100px 0px 100px;
    height: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

nav .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-right a {
    text-decoration: none;
    color: #050a30;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    margin-right: 30px;
    position: relative;
}

nav .nav-right a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background: var(--pure);
    transition: width .3s ease-in-out;
    background-color: #050a30;
}

nav .nav-right a:hover:after {
    width: 70%;
    background-color: #050a30;
}

nav .nav-right a.active:after {
    width: 70%;
    background-color: #050a30;
}

nav .nav-right .search>div {
    background: var(--dark);
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 50px;
}

nav .nav-right .search>div input {
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #050a30;
}

nav .nav-right .search>div img {
    padding-right: 16px;
}

@keyframes moveIn {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.social svg path {
    fill: var(--pure);
}

.social div:hover svg path {
    fill: var(--dark);
    transition: all .5s ease-in-out;
}

.social div:hover {
    background: var(--pure);
}

.hero {
    position: relative;
}

.hero .cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 80px);
    padding-top: 10vh;
}

.hero .cta h1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.7;
}

.hero .cta>div {
    flex: 1;
}

.hero .cta .main-section h1 {
    justify-content: center;
    font-family: 'Fira Code', monospace;
    font-weight: bold;
}

.hero .cta .right-section img {
    height: 70vh;
    transform: rotate(20deg);
    animation: moveInSpace 12s ease-in-out infinite alternate;
    ;
}

@keyframes moveInSpace {
    50% {
        transform: translateY(100px) rotate(-30deg) scale(0.8);
    }
}

section.strip {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--dark);
    padding: 50px 0;
}

section.rocket {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-gap: 80px;
    padding: 100px 0;
}

section.rocket .rocket-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.rocket .rocket-body span {
    font-size: 0;
    position: relative;
}

section.rocket .rocket-body span img {
    width: 100%;
}

section.rocket .block {
    width: 70%;
}

section.rocket .block h1 {
    font-size: 32px;
    font-weight: 400;
}

section.rocket .block .with-underline {
    position: relative;
    margin-bottom: 38px;
}

section.rocket .block .with-underline:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    display: block;
    width: 38%;
    height: 2px;
    background: var(--pure);
}

section.rocket .block h1.with-underline:before {
    width: 20%;
}

section.rocket p {
    line-height: 1.6;
}

section.rocket .block h2 {
    font-weight: 400;
    margin-bottom: 20px;
}

section.rocket .block.payload {
    padding-top: 130px;
}

section.rocket .block.payload h2 {
    padding-left: 80px;
}

section.rocket .block.dragon {
    padding-top: 120px;
}

section.rocket .block button {
    margin-top: 30px;
}

section.rocket .block.composite {
    padding-top: 60px;
}

section.rocket .block.first-stage {
    padding-top: 60px;
}

section.rocket .block.capacity {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

section.rocket .block.capacity>div:first-child {
    margin-right: 40px;
}

section.rocket .block.capacity h4 {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
}

section.rocket .block.capacity h6 {
    font-size: 40px;
    font-weight: 400;
}

section.rocket .block.capacity h6 small {
    font-size: 12px;
}

section.rocket .block.second-stage {
    padding-top: 60px;
}

section.rocket .right-block .block.capacity {
    padding-top: 120px;
}

section.rocket .right-block .block.capacity.single {
    padding-top: 40px;
}

section.rocket .right-block .block.engines {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

section.rocket .right-block .block.engines img {
    width: 180px;
}

section.rocket .right-block .block.marine {
    padding-top: 100px;
    wodth: 70%;
}

section.rocket .right-block .block.marine h2 {
    font-size: 14px;
    padding-left: 100px;
    margin-bottom: 26px;
}

section.rocket .right-block .floating-graphics {
    position: sticky;
    float: right;
    top: 60px;
    margin-right: -80px;
}

section.rocket .right-block .floating-graphics img {
    height: 350px;
}

section.rocket .rocket-body span:after,
section.rocket .rocket-body span:nth-child(3):before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--pure);
    transition: width 1s ease-in-out;
}

section.rocket .rocket-body span:nth-child(1):after {
    bottom: 16px;
    left: 96%;
}

section.rocket .rocket-body span:nth-child(2):after {
    bottom: 62%;
    right: 100%;
}

section.rocket .rocket-body span:nth-child(3):after {
    bottom: 64%;
    right: 90%;
}

section.rocket .rocket-body span:nth-child(3):before {
    bottom: 36%;
    left: 90%;
}

section.rocket .rocket-body span.active:nth-child(1):after {
    width: 120px;
}

section.rocket .rocket-body span.active:nth-child(2):after {
    width: 180px;
}

section.rocket .rocket-body span.active:nth-child(3):after {
    width: 200px;
}

section.rocket .rocket-body span.active:nth-child(3):before {
    width: 160px;
}

@keyframes jump {
    50% {
        transform: translateY(-50px);
    }
}

section.rocket .rocket-body span.active:nth-child(1) {
    animation: jump 1s ease-in-out forwards;
}

footer {
    background: var(--dark);
    padding: 60px 0;
}

footer>div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer .copyright span {
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
}

footer .copyright img {
    height: 30px;
}

footer h1 {
    font-size: 18px;
    position: relative;
    margin-bottom: 30px;
}

footer h1:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    display: block;
    width: 60px;
    height: 2px;
    background: var(--pure);
}

footer ul {
    list-style-type: none;
}

footer ul li:nth-child(even) {
    margin: 10px 0;
}

footer ul li a {
    color: var(--mild);
    text-decoration: none;
    font-size: 14px;
    transition: all .3s ease-in-out;
}

footer ul li a:hover {
    color: var(--pure);
}

footer .footer-socials a {
    margin-right: 20px;
    font-size: 22px;
    color: var(--mild);
}

footer .footer-socials a:hover {
    color: var(--pure);
}